<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <h1>Bienvenido a la Tienda</h1>
    <nav>
      <a href="/products">Ingresar Productos</a>
      <a href="/realtimeproducts">Ver Productos</a>
    </nav>
  </header>
  <main>
    {{{body}}} <!-- Aquí se renderiza el contenido específico de cada vista -->
  </main>
</body>
</html>
